<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+z5vIOIj58S3xa5p6Pvc2QCt/btTfjLrN9jom4u" crossorigin="anonymous">
</head>

<body>
    <h1> Title </h1>
    <h2> Subtitle </h2>
</body>